@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de colores personalizados */
:root {
  --color-red: #FB3640;
  --color-dark-blue: #1D1E2C;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}
