@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de colores personalizados */
:root {
  --color-red: #FB3640;
  --color-dark-blue: #1D1E2C;
  --color-white: #ffffff;
  --navbar-height: 64px; /* Altura aproximada de la navbar */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}
